#container {
  position: relative;
  min-height: 100vh;
}

#wrapper {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.propimg {
  margin-left: 25%;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  position: relative;
  top: -105px;
  right: -50px;
}
.prop1 {
  margin-top: 10rem;
}
