#buttons {
  display: flex;
  justify-content: space-around;

  border: 2px solid rgba(127, 56, 122, 0.92);

  border-radius: 5px;
}

#signupButton,
#loginButton {
  cursor: pointer;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  margin-bottom: 0em;
  padding-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
body {
  overflow-y: hidden;
}
.blue {
  background-color: white;
}
.cont {
  width: 20rem;
  position: absolute;
  top: 5%;
  right: 37.8%;
}

.form-control {
  min-width: 10rem;
}

#signup,
#login {
  width: 100%;
  background: #0e75db;
}
#signup {
  height: 400px;
}
#login {
  height: 200px;
}
.yellow {
  background: linear-gradient(
    140deg,
    rgba(127, 56, 122, 0.92) 0,
    rgba(64, 96, 148, 0.92)
  );
  color: white;
}

#send {
  min-width: 120px;
  max-height: 36px;
  border: 1px solid #554f91;
  background-color: transparent;
  color: #554f91;
  border-radius: 40px;
  font-weight: 500;
}

#send:focus {
  background-color: #554f91;
  color: white;
}

#send:hover {
  background-color: #554f91;
  color: white;
}

.content {
  border: 2px solid rgba(127, 56, 122, 0.92) !important;
  border-radius: 5px;
  background-color: #000000a6;
}

.coverpic {
  max-height: 35rem;
}
